<!-- The Modal -->
<div class="row">
  <!-- Modal content -->
  <div class= "col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Sprint {{id}}</h4>
      </div>
      <div class="card-body">
          <table class="table">
            <thead>
              <th> ID </th>
              <th> Fecha de creación </th>
              <th> Días </th>
              <th> Comentario </th>
            </thead>
            <tbody>
              <tr >
                <td> {{id}} </td>
                <td> {{sprints.createdAt}}</td>
                <td> {{sprints.days}} </td>
                <td> {{sprints.comment}} </td>
                <td> 
                  <a routerLink="/home" class="btn btn-danger pull-right" (click)="deleteSprint(sprints.id)" ><i class="material-icons">delete</i></a>
                  <a routerLink="/sprints/{{id}}" class="btn btn-info pull-right"><i class="material-icons">edit</i></a>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>