<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
      <div class="card">
          <div class="card-header card-header-primary">
              <h4 class="card-title">Sprints</h4>
              <p class="card-category">Sprints relacionados al proyecto</p>
          </div>
          <div class="card-body">
              <a class="btn btn-success pull-right text-white text-center" href="/sprints">Agregar sprint</a>
              <table class="table">
                <tbody>
                  <tr *ngFor="let sprint of sprints">
                    <td>
                      Sprint {{sprint.id}}
                    </td>
                    <td>
                      <a routerLink="/sprints/{{sprint.id}}" class="btn btn-primary pull-right" ><i class="material-icons">info</i></a>
                      <a routerLink="/home" class="btn btn-danger pull-right" (click)="deleteSprint(sprints.id)" ><i class="material-icons">delete</i></a>
                      <a routerLink="/sprints/update/{{sprint.id}}" class="btn btn-info pull-right"><i class="material-icons">edit</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>